body{
    background-color: #b6d0f9;
    color:black;
    font-family:Fantasy;
    
    
}
.block_of_text{
    position: absolute;
    width:70%;
    left:5%;
    top:5%;
    height:auto;
    display:block;
    border-radius: 15px;
    background-color: white;
    padding-left:10%;
    padding-right:10%;
}

.block_of_text_left{
    position: absolute;
    font-size:19.5px;
    width:7%;
    left:5%;
    top:5%;
    height:auto;
    display:block;
    border-radius: 15px;
    background-color: white;
    padding-left:10%;
    padding-right:10%;
}
#record{
    position:fixed;
    font-size:90%;
    left:1%;
    top:5px;
    border-radius: 5px;
    backgroud-color: lightblue;        
    border-color: black;
    
}
.block_of_text_middle{
    
    position: absolute;
    margin-bottom:100px;
    font-size:19.5px;
    width:14%;
    left:33%;
    top:5%;
    height:auto;
    display:block;
    border-radius: 15px;
    background-color: white;
    padding-left:10%;
    padding-right:10%;
}
.block_of_text_right{
    position: absolute;
    font-size:19.4px;
    width:7%;
    right:5%;
    top:5%;
    height:auto;
    display:block;
    border-radius: 15px;
    background-color: white;
    padding-left:10%;
    padding-right:10%;
}
#reg_teach{
    position: relative;
    top:50px;
    
    border-style:solid none solid none; 
    border-color: red;
    border-width:1px;
    width:15%;
}
.bottom_right{
    position: absolute;
    right:5%;
    bottom:5%;
    border-width: 3px;
    border-color:aqua;
    border-style:solid none solid none;
}

.bottom_left{
    position: absolute;
    left:5%;
    bottom:5%;
    border-width: 3px;
    border-color:blue;
    border-style:solid none solid none;

}

.bottom_left_border{
        position:absolute;
        left: 7%;
        bottom:7%;
        width:15%;
        border-radius:10px;
        border-style:solid;
        background-color: white;
        text-align: center;
}
#middle_down{
    position: absolute;
    bottom:5%;
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-radius: 7px;
    background-color: white;
}
#middle_down a{
    color:red;
    text-decoration: none;
    
}
#middle_down a:active{
    color:red;
    text-decoration: none;
    
    
}
#middle_down a:checked{
    color:red;
    text-decoration: none;
    
    
}

.blank{
    height:50px;
    display:block;
    width:10px;
    
}
#center_game{
    position: relative;
    width:20%;
    font-size: 300%;
    border-radius: 30px;text-align:center;
    left:45%;
    top:350px;
    
    
}
#center_form{
    position: relative;
    font-size: 300%;
    left:45%;
    top:400px;
    
    
}

.description_in_profile:hover{
    background-color: lightblue;
    border-radius: 5px;        
}

.description_in_profile{
    
    position: relative;
    width:10%;
    text-align: left;
    float:left;
    margin-left: 3%; 
    border-width:1px;
    border-color:black;
    border-style:solid;
    text-align: center;
    padding-left:0px;
    
}
.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    left:0px;
    border-color: black;
    background-color: lightskyblue;
    border-radius: 15px 15px 0 0;
    text-align: center;
    border-top:1px solid black;
    
}
.backimg{
    position: fixed;
    right:5%;
    bottom:5%;
    
    
}

.header_profile_small{
    position:relative;
    top:0px;
    width:100%;     
    background-color: black; 
    border-style:solid;
    height:35px;
    border-width:1px;
    border-color:black;
    color:white;
    font-family: fantasy;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.main_info{
    position:absolute;
    left:0;
    border-top: 3px solid white;
    width:100%;
    height:50%;
    background-color: white; 
    
}


.header_personal{
    position:absolute;
    top:0px;
    width:100%;
    left:0;
    background-color: black; 
    border-style:solid;
    height:auto;
    border-width:1px;
    border-color:black;
}

.header{
    position:absolute;
    top:0px;
    width:100%;
    left:0;
    background-color: black; 
    border-style:solid;
    border-radius: 0 0 23px 23px;
    height:auto;
    border-width:1px;
    border-color:black;
}


.icon_login  img{
    text-decoration: none;
    border:none;
    left:0;
    
}

.middle_center{
    position:absolute;
    top:40%;
    left:30%;
    width:40%;
    padding:10px;
    

}
.white_background_borders{
    background-color: white;
    border-color: black;
    border-style: solid none solid none;
    border-width:1px;
    
}
.red_text{
    color:red;
    
    
}

#long_line{
    width:40%;
    height:100px;
    font-size:100%;
}

.img_icon{
    position:absolute;
    right:50px;
    top:50px;
    
}

#img_logo{
    position:relative;
    left:50px;
    
    background-image: url(images/logo_2.png);
    
}
